{% comment %}
    Renders breadcrumb
    
    Usage:
    {% render 'breadcrumb' %}
{% endcomment %}

{% liquid 
  assign show_home_on_mobile = true
  if template == 'article' or template contains 'product'
    assign show_home_on_mobile = false
  endif
%}

<div class="container py-16">
  <nav aria-label="breadcrumbs" class="text-body-copy-small flex gap-8 {{ breadcrumb_classes }}" role="navigation">
    <a class="{% if show_home_on_mobile == false %}hidden {% endif %}md:inline hover:underline font-normal" href="{{ shop.url }}" title="Home">Home</a>
    {% if show_home_on_mobile == false %}
    <span class="w-12 flex md:hidden items-center" aria-hidden="true">{%- render 'icon-chevron-left' -%}</span>
    {% endif %}
    {% if template contains 'page' %}
      <span class="w-12 flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
      <span class="font-bold">{{ page.title }}</span>
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <span class="w-12 hidden md:flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
        {{ collection.title | link_to: collection.url, class: 'font-normal hover:underline hidden md:inline' }}
      {% elsif product.collections != nil and product.collections[0].url != blank %}
        <span class="w-12 hidden md:flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
        {{ product.collections[0].title | link_to: product.collections[0].url, class: 'font-normal hover:underline' }}
      {% endif %}
      <span class="w-12 hidden md:flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
      <span class="hidden md:inline font-bold">{{ product.title }}</span>
    {% elsif template contains 'collection' and collection.handle %}
      <span class="w-12 flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}
        {% endcapture %}
        {{ collection.title | link_to: url, class: 'font-normal' }}
        <span class="w-12 flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span class="font-bold">{{ collection.title }}</span>
      {% endif %}
    {% elsif template == 'blog' %}
      <span class="w-12 flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url, class: 'font-normal hover:underline' }}
        <span class="w-12 flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
        <span class="font-bold">{{ current_tags | join: " + " }}</span>
      {% else %}
        <span>{{ blog.title }}</span>
      {% endif %}
    {% elsif template == 'article' %}
      <span aria-hidden="true" class="w-12 hidden md:flex items-center">{%- render 'icon-chevron-right' -%}</span>
      {{ blog.title | link_to: blog.url, class: 'font-normal' }}
      <span aria-hidden="true" class="w-12 hidden md:flex items-center">{%- render 'icon-chevron-right' -%}</span>
      <span aria-current="page" class="font-semibold hidden md:block">{{ article.title }}</span>
    {% else %}
      <span class="w-12 flex items-center" aria-hidden="true">{%- render 'icon-chevron-right' -%}</span>
      <span class="font-bold">{{ page_title }}</span>
    {% endif %}
  </nav>
</div>