{% comment %}
    Renders a product card

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
    - show_quick_add: {Boolean} Show the quick add button.
    - section_id: {String} The ID of the section that contains this card.

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{% assign aspect_ratio = 'aspect-square' %}
{% if tall_image %}
  {% assign aspect_ratio = 'aspect-[3/4]' %}
{% endif %}

{% assign featured_media = product.featured_media %}
{% if alt_image %}
  {% assign featured_media = alt_image %}
{% endif %}
{%- if product and product != empty -%}
  <div class="flex flex-col">
    {%- if featured_media -%}
      <div class="relative">
        <div class="media media--transparent relative {{ aspect_ratio }}{% if show_secondary_image and product.media[1] != nil %} group{% endif %}">
          <a href="{{ product.url }}" title="View {{ product.title }}">
            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
            {% assign img_bg_color = 'bg-white' %}
            {% if bg_color != blank and bg_color != 'white' %}
              {% assign img_bg_color = 'bg-' | append: bg_color %}
            {% endif %}
            <img
              srcset="{%- if featured_media.width >= 165 -%}{{ featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if featured_media.width >= 360 -%}{{ featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if featured_media.width >= 533 -%}{{ featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if featured_media.width >= 720 -%}{{ featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if featured_media.width >= 940 -%}{{ featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if featured_media.width >= 1066 -%}{{ featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ featured_media | image_url }} {{ featured_media.width }}w"
              src="{{ featured_media | image_url: width: 533 }}"
              sizes="(min-width: 1536px) 470px, (min-width: 1200px) 360px, (min-width: 992px) 288px, (min-width: 768px) 475px, 374px"
              alt="{{ featured_media.alt | escape }}"
              class="rounded absolute top-0 left-0 w-full h-full {{ aspect_ratio }} object-cover opacity-1 md:group-hover:opacity-0 motion-reduce z-[1] transition-opacity duration-200 ease-in-out {{ img_bg_color }}"
              {% unless lazy_load == false %}loading="lazy"{% endunless %}
              width="{{ featured_media.width }}"
              height="{{ featured_media.height }}"
            >
            {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            {%- if product.media[1] != nil and show_secondary_image -%}
              <img
                srcset="{%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ product.media[1] | image_url }} {{ product.media[1].width }}w"
                src="{{ product.media[1] | image_url: width: 533 }}"
                sizes="(min-width: 1536px) 470px, (min-width: 1200px) 360px, (min-width: 992px) 288px, (min-width: 768px) 475px, 374px"
                alt="{{ product.media[1].alt | escape }}"
                class="rounded absolute top-0 left-0 w-full h-full object-cover motion-reduce z-0 opacity-0 group-hover:opacity-[1] transition-opacity"
                loading="lazy"
                width="{{ product.media[1].width }}"
                height="{{ product.media[1].height }}"
              >
            {%- endif -%}
          </a>
        </div>
        {% render 'product-badge', tags: product.tags %}
      </div>
    {%- endif -%}
    <div class="mt-16 {% if product.available == false %}text-disabled-high-contrast{% endif %}">
      <h6 class="card__heading"{% if product.featured_media == nil and settings.card_style == 'standard' %} id="title-{{ section_id }}-{{ product.id }}"{% endif %}>
        <a href="{{ product.url }}" class="hover:underline">
          {{ product.title | escape }}
        </a>
      </h6>
      <div class="card__badge mt-8">
        {%- if product.available == false -%}
          <span>{{ 'products.product.unavailable' | t }}</span>
        {%- endif -%}
      </div>
      {%- if product.available -%}
        <div class="mt-8">
          {% render 'price', product: product, price_class: '' %}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper underline-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      card--text
      {% if extend_height %} card--extend-height{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: 100%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a role="link" aria-disabled="true" class="full-unstyled-link">
                {{ 'onboarding.product_title' | t }}
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
