{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

{% assign menu_item_class = 'py-12 px-16 inline-block w-full text-center text-[calc(22rem/16)] leading-[calc(24rem/16)] text-primary' %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="w-24 h-24 flex items-center justify-center relative">
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="bg-white menu-drawer motion-reduce" tabindex="-1">
      <div class="menu-drawer__inner-container">
        <div class="py-8 sticky top-0 bg-white z-[1]">
          {% render 'mobile-drawer-search' %}
        </div>
        <div class="menu-drawer__navigation-container">
          <nav>
            <ul role="list">
              {%- for block in section.blocks -%}
                {%- if block.type == 'menu_no_image' -%}
                  <li>
                    <div data-vf-mobile-menu>
                      <details id="Details-MobileMenu-{{ forloop.index }}" class="static group">
                        <summary class="flex items-center relative">
                          <span class="{{ menu_item_class }}">
                            {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}">{%- endif -%}
                              {{ block.settings.title }}
                            {%- if block.settings.link != blank -%}</a>{%- endif -%}
                          </span>
                          <span class="absolute right-32 text-primary inline-block group-open:[display:none]" aria-hidden="true">{%- render 'icon-plus' %}</span>
                          <span class="absolute right-32 text-primary [display:none] group-open:inline-block" aria-hidden="true">{%- render 'icon-minus' %}</span>
                        </summary>
                        <div id="MobileMenu-Content-{{ forloop.index }}" class="py-24 bg-white" tabindex="-1">
                          <div class="container">
                            <div class="flex flex-wrap gap-y-24">
                              {%- if block.settings.list_1_menu != blank -%}
                                {% render 'menu-list', heading: block.settings.list_1_heading, menu: block.settings.list_1_menu %}
                              {%- endif -%}
                              {%- if block.settings.list_2_menu != blank -%}
                                {% render 'menu-list', heading: block.settings.list_2_heading, menu: block.settings.list_2_menu %}
                              {%- endif -%}
                              {%- if block.settings.list_3_menu != blank -%}
                                {% render 'menu-list', heading: block.settings.list_3_heading, menu: block.settings.list_3_menu %}
                              {%- endif -%}
                            </div>
                          </div>
                        </div>
                      </details>
                    </div>
                  </li>
                {%- elsif block.type == 'menu_one_image' -%}
                  <li>
                    <div data-vf-mobile-menu>
                      <details id="Details-MobileMenu-{{ forloop.index }}" class="static group">
                        <summary class="flex items-center relative">
                          <span class="{{ menu_item_class }}">
                            {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}">{%- endif -%}
                              {{ block.settings.title }}
                            {%- if block.settings.link != blank -%}</a>{%- endif -%}
                          </span>
                          <span class="absolute right-32 text-primary inline-block group-open:[display:none]" aria-hidden="true">{%- render 'icon-plus' %}</span>
                          <span class="absolute right-32 text-primary [display:none] group-open:inline-block" aria-hidden="true">{%- render 'icon-minus' %}</span>
                        </summary>
                        <div id="MobileMenu-Content-{{ forloop.index }}" class="py-24 bg-white" tabindex="-1">
                          <div class="container">
                            <div class="grid grid-cols-2 gap-y-24">
                              {%- if block.settings.image != blank -%}
                                <div class="row-start-1 col-span-2">
                                  {% render 'menu-image', 
                                    image_heading: block.settings.image_heading, 
                                    image: block.settings.image,
                                    callout_heading: block.settings.callout_heading,
                                    callout_body: block.settings.callout_body,
                                    link_text: block.settings.link_text,
                                    link_url: block.settings.link_url,
                                    size: 'medium'
                                  %}
                                </div>
                              {%- endif -%}
                              {%- if block.settings.list_1_menu != blank -%}
                                {% render 'menu-list', heading: block.settings.list_1_heading, menu: block.settings.list_1_menu %}
                              {%- endif -%}
                              {%- if block.settings.list_2_menu != blank -%}
                                {% render 'menu-list', heading: block.settings.list_2_heading, menu: block.settings.list_2_menu %}
                              {%- endif -%}
                              {%- if block.settings.list_3_menu != blank -%}
                                <div class="row-start-2 row-span-2 col-start-2">
                                  {% render 'menu-list', heading: block.settings.list_3_heading, menu: block.settings.list_3_menu %}
                                </div>
                              {%- endif -%}
                            </div>
                          </div>
                        </div>
                      </details>
                    </div>
                  </li>
                {%- elsif block.type == 'menu_two_images' -%}
                  <li>
                    <div data-vf-mobile-menu>
                      <details id="Details-MobileMenu-{{ forloop.index }}" class="static group">
                        <summary class="flex items-center relative">
                          <span class="{{ menu_item_class }}">
                            {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}">{%- endif -%}
                              {{ block.settings.title }}
                            {%- if block.settings.link != blank -%}</a>{%- endif -%}
                          </span>
                          <span class="absolute right-32 text-primary inline-block group-open:[display:none]" aria-hidden="true">{%- render 'icon-plus' %}</span>
                          <span class="absolute right-32 text-primary [display:none] group-open:inline-block" aria-hidden="true">{%- render 'icon-minus' %}</span>
                        </summary>
                        <div id="MobileMenu-Content-{{ forloop.index }}" class="py-24 bg-white" tabindex="-1">
                          <div class="container">
                            <div class="flex flex-wrap gap-y-24">
                              {%- if block.settings.image_1 != blank -%}
                                {% render 'menu-image', 
                                  image_heading: block.settings.image_1_heading, 
                                  image: block.settings.image_1,
                                  callout_heading: block.settings.callout_1_heading,
                                  callout_body: block.settings.callout_1_body,
                                  link_text: block.settings.link_1_text,
                                  link_url: block.settings.link_1_url,
                                  size: 'small'
                                %}
                              {%- endif -%}
                              {%- if block.settings.image_2 != blank -%}
                                {% render 'menu-image', 
                                  image_heading: block.settings.image_2_heading, 
                                  image: block.settings.image_2,
                                  callout_heading: block.settings.callout_2_heading,
                                  callout_body: block.settings.callout_2_body,
                                  link_text: block.settings.link_2_text,
                                  link_url: block.settings.link_2_url,
                                  size: 'small'
                                %}
                              {%- endif -%}
                              {%- if block.settings.list_1_menu != blank -%}
                                {% render 'menu-list', heading: block.settings.list_1_heading, menu: block.settings.list_1_menu %}
                              {%- endif -%}
                            </div>
                          </div>
                        </div>
                      </details>
                    </div>
                  </li>
                {%- elsif block.type == 'menu_large_image' -%}
                  <li>
                    <div data-vf-mobile-menu>
                      <details id="Details-MobileMenu-{{ forloop.index }}" class="static group">
                        <summary class="flex items-center relative">
                          <span class="{{ menu_item_class }}">
                            {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}">{%- endif -%}
                              {{ block.settings.title }}
                            {%- if block.settings.link != blank -%}</a>{%- endif -%}
                          </span>
                          <span class="absolute right-32 text-primary inline-block group-open:[display:none]" aria-hidden="true">{%- render 'icon-plus' %}</span>
                          <span class="absolute right-32 text-primary [display:none] group-open:inline-block" aria-hidden="true">{%- render 'icon-minus' %}</span>
                        </summary>
                        <div id="MobileMenu-Content-{{ forloop.index }}" class="py-24 bg-white" tabindex="-1">
                          <div class="container">
                            <div class="flex flex-wrap gap-y-16">
                              {%- if block.settings.image != blank -%}
                                <div>
                                  <div class="aspect-[3/1]">
                                    {{ block.settings.image | image_url: width: block.settings.image.width | image_tag:
                                      width: block.settings.image.width,
                                      class: 'w-full h-full object-cover rounded',
                                      sizes: block.settings.image.sizes,
                                      widths: '375, 550, 750',
                                      alt: block.settings.image.alt | escape
                                    }}
                                  </div>
                                </div>
                              {%- endif -%}
                              {%- if block.settings.list_1_menu != blank -%}
                                {% render 'menu-list', heading: block.settings.list_1_heading, menu: block.settings.list_1_menu %}
                              {%- endif -%}
                            </div>
                          </div>
                        </div>
                      </details>
                    </header-menu>
                  </li>
                {%- elsif block.type == 'nav_item' -%}
                  <li>
                    <span class="{{ menu_item_class }}">
                      <a class="hover:underline" href="{{ block.settings.link }}">{{ block.settings.title }}</a>
                    </span>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="focus-inset text-center medium-hide large-up-hide flex text-[16px] gap-12 justify-center items-center w-full pb-60"
              >
                {% render 'icon-account' %}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
