{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu relative">
  <div class="container">
    <ul class="flex justify-center w-full" role="list">
      {%- for block in section.blocks -%}
        {%- if block.type == 'menu_no_image' -%}
          <li>
            <span class="peer pb-16 px-8 inline-block">
              <a class="hover:underline" href="{{ block.settings.link }}">{{ block.settings.title }}</a>
            </span>
            <div
              class="pt-34 pb-44 shadow min-h-[367px] peer-hover:block [display:none] absolute w-full left-0 hover:block bg-white"
              tabindex="-1"
            >
              <div class="container">
                <div class="flex gap-x-32 justify-center">
                  {%- if block.settings.list_1_menu != blank -%}
                    {% render 'menu-list', heading: block.settings.list_1_heading, menu: block.settings.list_1_menu %}
                  {%- endif -%}
                  {%- if block.settings.list_2_menu != blank -%}
                    {% render 'menu-list', heading: block.settings.list_2_heading, menu: block.settings.list_2_menu %}
                  {%- endif -%}
                  {%- if block.settings.list_3_menu != blank -%}
                    {% render 'menu-list', heading: block.settings.list_3_heading, menu: block.settings.list_3_menu %}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </li>
        {%- elsif block.type == 'menu_one_image' -%}
          <li>
            <span class="peer pb-16 px-8 inline-block">
              <a class="hover:underline" href="{{ block.settings.link }}">{{ block.settings.title }}</a>
            </span>
            <div
              class="pt-34 pb-44 shadow min-h-[367px] peer-hover:block [display:none] absolute w-full left-0 hover:block bg-white"
              tabindex="-1"
            >
              <div class="container">
                <div class="flex gap-x-32 justify-center">
                  {%- if block.settings.list_1_menu != blank -%}
                    {% render 'menu-list', heading: block.settings.list_1_heading, menu: block.settings.list_1_menu %}
                  {%- endif -%}
                  {%- if block.settings.list_2_menu != blank -%}
                    {% render 'menu-list', heading: block.settings.list_2_heading, menu: block.settings.list_2_menu %}
                  {%- endif -%}
                  {%- if block.settings.list_3_menu != blank -%}
                    {% render 'menu-list', heading: block.settings.list_3_heading, menu: block.settings.list_3_menu %}
                  {%- endif -%}
                  {%- if block.settings.image != blank -%}
                    {% render 'menu-image', 
                      image_heading: block.settings.image_heading, 
                      image: block.settings.image,
                      callout_heading: block.settings.callout_heading,
                      callout_body: block.settings.callout_body,
                      link_text: block.settings.link_text,
                      link_url: block.settings.link_url,
                      size: 'medium'
                    %}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </li>
        {%- elsif block.type == 'menu_two_images' -%}
          <li>
            <span class="peer pb-16 px-8 inline-block">
              <a class="hover:underline" href="{{ block.settings.link }}">{{ block.settings.title }}</a>
            </span>
            <div
              class="pt-34 pb-44 shadow min-h-[367px] peer-hover:block [display:none] absolute w-full left-0 hover:block bg-white"
              tabindex="-1"
            >
              <div class="container">
                <div class="flex gap-x-32 justify-center">
                  {%- if block.settings.list_1_menu != blank -%}
                    {% render 'menu-list', heading: block.settings.list_1_heading, menu: block.settings.list_1_menu %}
                  {%- endif -%}
                  {%- if block.settings.image_1 != blank -%}
                    {% render 'menu-image', 
                      image_heading: block.settings.image_1_heading, 
                      image: block.settings.image_1,
                      callout_heading: block.settings.callout_1_heading,
                      callout_body: block.settings.callout_1_body,
                      link_text: block.settings.link_1_text,
                      link_url: block.settings.link_1_url,
                      size: 'medium'
                    %}
                  {%- endif -%}
                  {%- if block.settings.image_2 != blank -%}
                    {% render 'menu-image', 
                      image_heading: block.settings.image_2_heading, 
                      image: block.settings.image_2,
                      callout_heading: block.settings.callout_2_heading,
                      callout_body: block.settings.callout_2_body,
                      link_text: block.settings.link_2_text,
                      link_url: block.settings.link_2_url,
                      size: 'medium'
                    %}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </li>
        {%- elsif block.type == 'menu_large_image' -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</nav>
