{%- liquid 
  assign flex_basis = 'lg:basis-1/2'
  assign ratio = 'lg:aspect-[4/3]'
  assign image_col_span = 'lg:col-span-3'
  assign image_grid_cols = 'lg:grid-cols-6'
  if size == 'small'
    assign flex_basis = 'lg:basis-[calc(5/12_*_100%)]'
    assign ratio = 'lg:aspect-square'
    assign image_col_span = 'lg:col-span-2'
    assign image_grid_cols = 'lg:grid-cols-5'
  endif
-%}
<div class="{{ flex_basis }}">
  {%- if image_heading != blank -%}
    <h6 class="mb-12 text-copy-light">{{ image_heading }}</h6>
  {%- endif -%}
  {%- if link_url != blank -%}<a href="{{ link_url }}">{%- endif -%}
    <div class="grid grid-cols-6 {{ image_grid_cols }} gap-x-16 lg:gap-x-32">
      <div class="mt-4 aspect-square col-span-2 {{ ratio }} {{ image_col_span }}">
        {{ image | image_url: width: image.width | image_tag:
          width: image.width,
          class: 'w-full h-full object-cover rounded',
          sizes: image.sizes,
          widths: '375, 550, 750',
          alt: image.alt | escape
        }}
      </div>
      <div class="col-span-4 lg:col-span-3">
        {%- if callout_heading != blank -%}
          <h6>{{ callout_heading }}</h6>
        {%- endif -%}
        <p class="mt-6 lg:mt-12">{{ callout_body }}</p>
        <p class="font-bold mt-8 lg:mt-16 text-primary flex gap-8 items-center">
          {{ link_text }}
          {%- render 'icon-arrow-right-long' -%}
        </p>
      </div>
    </div>
    {%- if link_url != blank -%}</a>{%- endif -%}
</div>
