{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <div class="container mt-24 lg:mt-40">
    <nav class="pagination w-full" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="flex gap-x-8 w-full justify-center items-center" role="list">
      <li>
        {%- if paginate.previous -%}
          <a class="text-body-copy w-16 flex items-center" href="{{ paginate.previous.url }}{{ anchor }}" aria-label="{{ 'general.pagination.previous' | t }}">
            {%- render 'icon-chevron-left' -%}
          </a>
        {%- else -%}
          <span class="text-disabled w-16 flex items-center">
            {%- render 'icon-chevron-left' -%}
          </span>
        {%- endif -%}
      </li>

      {%- for part in paginate.parts -%}
        <li class="w-[calc(25rem/16)] h-[calc(25rem/16)] text-body-copy-small flex items-center rounded-full justify-center {% if part.title == paginate.current_page %} text-white bg-primary{% endif %}">
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="pagination__item h-full link" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="pagination__item h-full pagination__item--current" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="pagination__item h-full">{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      <li>
        {%- if paginate.next -%}
          <a class="text-body-copy w-16 flex items-center" href="{{ paginate.next.url }}{{ anchor }}" aria-label="{{ 'general.pagination.next' | t }}">
            {%- render 'icon-chevron-right' -%}
          </a>
        {%- else -%}
          <span class="text-disabled w-16 flex items-center">
            {%- render 'icon-chevron-right' -%}
          </span>
        {%- endif -%}
      </li>
      </ul>
    </nav>
  </div>
{%- endif -%}
