{%- if 
  tags contains 'badge:new' or 
  tags contains 'badge:trending' or 
  tags contains 'badge:limited' or
  tags contains 'badge:$10 Gift' or
  tags contains 'badge:$20 Gift' or
  tags contains 'badge:$30 Gift' or 
  tags contains 'badge:Buy 2 get 1 Free' or 
  tags contains 'badge:water resistant'
-%}
{% assign badge_classes = '!flex items-center gap-x-4 shadow-xs rounded-[4px] z-[1] bg-white py-2 px-8 text-body-copy-small' %}
<div class="!absolute top-12 left-8 !flex gap-4 flex-wrap">
  {%- if tags contains 'badge:$10 Gift' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_gift_10 }}" width="16" height="16"><span class="shrink-0">$10 Gift</span>
    </div>
  {%- endif -%}
  {%- if tags contains 'badge:$20 Gift' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_gift_20 }}" width="16" height="16"><span class="shrink-0">$20 Gift</span>
    </div>
  {%- endif -%}
  {%- if tags contains 'badge:$30 Gift' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_gift_30 }}" width="16" height="16"><span class="shrink-0">$30 Gift</span>
    </div>
  {%- endif -%}
  {%- if tags contains 'badge:Buy 2 get 1 Free' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_buy_2_get_1 }}" width="16" height="16"><span class="shrink-0">Buy 2 Get 1 Free</span>
    </div>
  {%- endif -%}
  {%- if tags contains 'badge:new' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_new }}" width="16" height="16"><span class="shrink-0">New</span>
    </div>
  {%- endif - %}
  {%- if tags contains 'badge:trending' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_trending }}" width="16" height="16"><span class="shrink-0">Trending</span>
    </div>
  {%- endif - %}
  {%- if tags contains 'badge:limited' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_limited }}" width="16" height="16"><span class="shrink-0">Limited</span>
    </div>
  {%- endif - %}
  {%- if tags contains 'badge:water resistant' -%}
    <div class="{{ badge_classes }}">
      <img src="{{ settings.emoji_water }}" width="16" height="16"><span class="shrink-0">Water Resistant</span>
    </div>
  {%- endif -%}
</div>
{%- endif -%}
