{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<footer class="bg-white pt-40 lg:pt-56">
  <div class="container">
    <div class="grid grid-cols gap-x-16 lg:gap-32">
      <div class="col-span-full lg:col-start-2 lg:col-span-4">
        <div class="mb-48 lg:mb-0 pb-48 lg:pb-0 flex flex-col items-center lg:items-start border-b border-border lg:border-none">
          <a href="{{ routes.root_url }}" class="w-[284px] h-[122px] lg:w-[295px] lg:h-[128px] block">
            {%- render 'logo' -%}
          </a>
          <div class="mt-16 lg:mt-32 text-center lg:text-left">
            <h6>Connect with Us!</h6>
            <div class="mt-12 mx-auto lg:mx-0">
              {% render 'social-icons' %}
            </div>
          </div>
        </div>
      </div>
      {% for block in section.blocks %}
        {% if block.type == 'menu' %}
          <div class="col-span-3 lg:col-span-2">
            {% if block.settings.heading != blank %}
              <h6 class="text-copy-light">{{ block.settings.heading }}</h6>
              <nav>
                <ul>
                  {% for item in block.settings.menu.links %}
                    <li class="mt-10"><a class="hover:underline" href="{{ item.url }}">{{ item.title }}</a></li>
                  {% endfor %}
                </ul>
              </nav>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <div class="mt-48 lg:mt-0 col-span-full lg:col-span-11">
        <div class="flex justify-center md:justify-end w-full">
          {% render 'footer-payment-icons' %}
        </div>
      </div>
    </div>
  </div>
  <div class="bg-ui-background mt-[100px] lg:mt-20">
    <div class="container">
      <div class="grid grid-cols">
        <div class="col-span-full lg:col-start-2 lg:col-end-12">
          <div class="py-10 flex justify-between text-body-copy-small leading-body-copy-small">
            <span>&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url -}}</span>
            <div>
              <a class="hover:underline" href="{{ section.settings.terms_url}}">{{ section.settings.terms_text}}</a> | <a class="hover:underline" href="{{ section.settings.privacy_url }}">{{ section.settings.privacy_text }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "terms_text",
      "label": "Terms of Use text",
      "default": "Terms of Use"
    },
    {
      "type": "url",
      "id": "terms_url",
      "label": "Terms of Use url"
    },
    {
      "type": "text",
      "id": "privacy_text",
      "label": "Privacy Policy text",
      "default": "Privacy Policy"
    },
    {
      "type": "url",
      "id": "privacy_url",
      "label": "Privacy Policy url"
    }
  ]
}
{% endschema %}
