<div class="relative" style="background-color: {{ section.settings.color | default: '#fff' }}">
  {% if section.settings.show_breadcrumbs == true %}
    <div class="lg:absolute lg:left-0 lg:top-0 w-full">
      {% render 'breadcrumbs' %}
    </div>
  {% endif %}
  <div class="flex flex-col lg:grid lg:grid-cols-full-bleed">
    <div class="order-2 lg:order-1 lg:col-start-2 xl:col-start-3 lg:col-end-7 pt-24 lg:pt-0 pb-48 lg:pb-0 lg:pl-16 lg:pr-32 flex flex-col h-full justify-center">
      <div class="container lg:!max-w-full lg:!px-0 lg:!mx-0">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'subheading' -%}
              <h6 class="mb-8">{{ block.settings.text }}</h6>
            {%- when 'heading' -%}
              <h1 class="text-display font-display font-normal">{{ block.settings.text }}</h1>
            {%- when 'body' -%}
              <p class="my-8 lg:mt-24 text-body-copy-large">{{ block.settings.text }}</p>
            {%- when 'cta' -%}
              {%- render 'button-large', url: block.settings.url, text: block.settings.text, class: 'mt-20 lg:mt-28' -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="order-1 lg:order-2 lg:col-start-7 lg:col-end-[15]">
      {{ section.settings.image | image_url: width: 1500 | image_tag:
        width: section.settings.image.width,
        class: 'h-full w-full object-cover asepct-4/3 lg:aspect-auto max-h-[250px] md:max-h-[300px] lg:max-h-[600px]',
        sizes: section.settings.image.sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero (Color Block)",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (Mobile)"
    },
    {
      "type": "text",
      "id": "designer_tag",
      "label": "Designer Tag"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color Block",
      "info": "If selected, hero will be split w/ selected color"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show breadcrumbs"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Hero Banner",
          "label": "Text"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "body",
      "name": "Body",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero (Color Block)"
    }
  ]
}
{% endschema %}