<div class="relative lg:pt-[calc(108rem/16)] lg:pb-[calc(108rem/16)]">
  <div class="relative lg:absolute left-0 top-0 w-full aspect-[4/3] md:aspect-auto lg:h-full lg:z-[-1]">
    {% if section.settings.image != blank %}
      {{ section.settings.image | image_url: width: 1500 | image_tag:
        width: section.settings.image.width,
        class: 'h-full w-full object-cover [display:none] md:block',
        sizes: section.settings.image.sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% if section.settings.image_mobile != blank %}
      {{ section.settings.image_mobile | image_url: width: 1500 | image_tag:
        width: section.settings.image_mobile.width,
        class: 'h-full w-full object-cover md:hidden',
        widths: '375, 550, 750',
        alt: section.settings.image_mobile.alt | escape
      }}
    {% endif %}
    {% if section.settings.designer_tag != blank %}
      <span class="absolute bottom-12 left-12 text-body-copy-small text-white">{{ section.settings.designer_tag}}</span>
    {% endif %}
  </div>
  <div class="container lg:grid grid-cols py-24 lg:py-0">
    <div class="lg:col-start-2 lg:col-end-5">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'subheading' -%}
            <h6 class="mb-8">{{ block.settings.text }}</h6>
          {%- when 'heading' -%}
            <h1 class="text-display font-display font-normal">{{ block.settings.text }}</h1>
          {%- when 'body' -%}
            <p class="mt-8 lg:mt-24 text-body-copy-large">{{ block.settings.text }}</p>
          {%- when 'cta' -%}
            {%- render 'button-large', url: block.settings.url, text: block.settings.text, class: 'mt-20 lg:mt-28' -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (Mobile)"
    },
    {
      "type": "text",
      "id": "designer_tag",
      "label": "Designer Tag"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color Block",
      "info": "If selected, hero will be split w/ selected color"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show breadcrumbs"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Hero Banner",
          "label": "Text"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "body",
      "name": "Body",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}