<div class="relative pt-42 pb-54 lg:pt-[calc(108rem/16)] lg:pb-[calc(108rem/16)]">
  <div class="absolute left-0 top-0 w-full h-full z-[-1]">
    {% if section.settings.image != blank %}
      {{ section.settings.image | image_url: width: 1500 | image_tag:
        width: section.settings.image.width,
        class: 'h-full object-cover',
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
  <div class="container grid grid-cols">
    <div class="lg:col-start-2 lg:col-end-5">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'subheading' -%}
            <h6>{{ block.settings.text }}</h6>
          {%- when 'heading' -%}
            <h1 class="text-display font-display">{{ block.settings.text }}</h1>
          {%- when 'body' -%}
            <p class="mt-12 text-body-copy-large">{{ block.settings.text }}</p>
          {%- when 'cta' -%}
            {%- render 'button-large', url: block.settings.url, text: block.settings.text, class: 'mt-16 lg:mt-32' -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Hero Banner",
          "label": "Text"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "body",
      "name": "Body",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Hero"
    }
  ],
  "templates": ["index"]
}
{% endschema %}