<div class="bg-ui-pink p-section-md">
  <div class="container">
    <div class="flex justify-center flex-wrap md:flex-nowrap gap-grid gap-y-32">
      {% for block in section.blocks %}
        {% if block.type == 'icon-item' %}
          <div class="basis-full sm:basis-2/3 lg:basis-1/4">
            <div class="text-center">
              <div class="flex justify-center">
                <img class="w-100 h-100 object-contain" loading="lazy" src="{{ block.settings.icon | img_url: 'master' }}" alt="{{ block.settings.icon.alt }}"/>
              </div>
              {% if block.settings.large_text == blank %}
                <h4 class="mt-20">{{ block.settings.heading }}</h4>
                <p class="mt-8 richtext-content">{{ block.settings.body }}</p>
                {% else %}
                <h5 class="mt-20">{{ block.settings.heading }}</h5>
                <h3 class="mt-8">{{ block.settings.large_text }}</h3>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon Section",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "icon-item",
      "name": "Icon Item",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "body",
          "label": "Body"
        },
        {
          "type": "text",
          "id": "large_text",
          "label": "Large Text",
          "info": "Replaces 'Body' text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons Section"
    }
  ]
}
{% endschema %}
