<div class="p-section-md">
  <div class="container">
    <div class="grid grid-cols gap-grid">
      {% for collection in collections %}
        {% if collection.featured_image != blank %}
          <div class="col-span-3">
            <a href="{{ collection.url }}" class="group" title="{{ collection.title }}">
              <img
                srcset="{%- if collection.featured_image.width >= 165 -%}{{ collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if collection.featured_image.width >= 360 -%}{{ collection.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if collection.featured_image.width >= 533 -%}{{ collection.featured_image | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if collection.featured_image.width >= 720 -%}{{ collection.featured_image | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if collection.featured_image.width >= 940 -%}{{ collection.featured_image | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if collection.featured_image.width >= 1066 -%}{{ collection.featured_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ collection.featured_image | image_url }} {{ collection.featured_image.width }}w"
                src="{{ collection.featured_image | image_url: width: 533 }}"
                sizes="(min-width: 1536px) 470px, (min-width: 1200px) 360px, (min-width: 992px) 288px, (min-width: 768px) 475px, 374px"
                alt="{{ collection.featured_image.alt | escape }}"
                class="rounded aspect-square object-cover"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ collection.featured_image.width }}"
                height="{{ collection.featured_image.height }}"
              >
              <h3 class="h4 text-center mt-12 group-hover:underline">{{ collection.title }}</h3>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>