{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

{% if cart != empty %}
  <div class="container{% if cart == empty %} is-empty{% endif %} [&.is-empty]:hidden" id="main-cart-footer" data-id="{{ section.id }}">
    <div class="grid grid-cols">
      <div class="col-span-full lg:col-span-10 lg:col-start-2">
        <div>
          {%- if settings.show_cart_note -%}
            <cart-note class="cart__note field">
              <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                class="text-area field__input"
                name="note"
                form="cart"
                id="Cart-note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          {%- endif -%}
  
          <div class="cart__blocks">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'subtotal' -%}
                  <div class="js-contents" {{ block.shopify_attributes }}>
                    <div class="totals !justify-end [&_+.sezzle-shopify-info-button]:mt-12">
                      <h2 class="font-normal totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h2>
                      <p class="totals__subtotal-value font-bold">{{ cart.total_price | money }}</p>
                    </div>
  
                    <div>
                      {%- if cart.cart_level_discount_applications.size > 0 -%}
                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="discounts__discount discounts__discount--position">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                              (-{{ discount.total_allocated_amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
  
                    <p class="mt-16 mb-32 rte text-right">
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                      {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    </p>
                  </div>
                {%- else -%}
                  <div class="cart__ctas justify-center lg:justify-end" {{ block.shopify_attributes }}>
                    <noscript>
                      <button type="submit" class="cart__update-button inline-block text-white text-[calc(18rem/16)] leading-[calc(26rem/16)] bg-primary py-8 px-24 rounded-button-lg font-bold border-primary border-[2px]" form="cart">
                        {{ 'sections.cart.update' | t }}
                      </button>
                    </noscript>
  
                    <button
                      type="submit"
                      id="checkout"
                      class="cart__checkout-button inline-block text-white text-[calc(18rem/16)] leading-[calc(26rem/16)] bg-primary py-8 px-24 rounded-button-lg font-bold border-primary border-[2px]"
                      name="checkout"
                      {% if cart == empty %}
                        disabled
                      {% endif %}
                      form="cart"
                    >
                      {{ 'sections.cart.checkout' | t }}
                    </button>
                  </div>
  
                  <a href="{%- if section.settings.empty_cart_cta_link != blank -%}{{ section.settings.empty_cart_cta_link }}{%- else -%}{{ routes.all_products_collection_url }}{%- endif -%}" class="text-center lg:text-right block mt-32 font-bold underline">{{ 'general.continue_shopping' | t }}</a>
  
                  {%- if additional_checkout_buttons -%}
                    <div class="cart__dynamic-checkout-buttons additional-checkout-buttons flex justify-center lg:justify-end">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {% endfor %}
  
            <div id="cart-errors"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
