<div>
  {% render 'breadcrumbs' %}
  <div class="lg:pt-12 lg:pb-72">
    <div class="lg:container">
      <div class="flex flex-col lg:grid lg:grid-cols lg:items-center">
        <div class="order-2 lg:order-1 lg:col-start-2 lg:col-end-7 pt-24 pb-48 lg:p-0">
          <div class="container lg:px-0">
            {% if section.settings.sticker != blank %}
              <div class="flex justify-center lg:hidden">
                {{ section.settings.sticker | image_url: width: 196 | image_tag:
                  width: section.settings.sticker.width,
                  class: 'h-98 w-98 object-contain mx-auto',
                  sizes: section.settings.sticker.sizes,
                  widths: '196',
                  alt: section.settings.sticker.alt | escape
                }}
              </div>
            {% endif %}
            <h1 class="mt-12 lg:mt-0">{{ section.settings.heading }}</h1>
            <p class="text-body-copy-large mt-12">{{ section.settings.body }}</p>
            <div class="flex gap-24 mt-24">
              {% render 'button', text: section.settings.join_text, url: section.settings.join_link, border_color_class: 'border-primary' %}
              {% render 'button-secondary', text: section.settings.login_text, url: section.settings.login_link %}
            </div>
          </div>
        </div>
        <div class="order-1 lg:order-2 lg:col-start-7 lg:col-end-13">
          {% if section.settings.image != blank %}
            {% liquid
              assign image_wrapper_classes = 'tw-hidden lg:block relative'
              assign image_classes = 'object-contain'
              if section.settings.sticker != blank
                assign image_classes = 'object-cover rounded aspect-3/2'
                assign image_wrapper_classes = image_wrapper_classes | append: ' pb-48 pl-48'
              endif
            %}
            <div class="{{ image_wrapper_classes }}">
              {{ section.settings.image | image_url: width: 1500 | image_tag:
                width: section.settings.image.width,
                class: image_classes,
                sizes: section.settings.image.sizes,
                widths: '375, 550, 750, 1100',
                alt: section.settings.image.alt | escape
              }}
              {% if section.settings.sticker != blank %}
                <div class="absolute bottom-0 left-0">
                  {{ section.settings.sticker | image_url: width: 328 | image_tag:
                    width: section.settings.sticker.width,
                    class: 'h-[164px] w-[164px] object-contain mx-auto',
                    sizes: section.settings.sticker.sizes,
                    widths: '328',
                    alt: section.settings.sticker.alt | escape
                  }}
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% if section.settings.image_mobile != blank %}
            {{ section.settings.image_mobile | image_url: width: 1500 | image_tag:
              width: section.settings.image_mobile.width,
              class: 'object-cover lg:hidden',
              sizes: section.settings.image_mobile.sizes,
              widths: '375, 550, 750, 1100',
              alt: section.settings.image_mobile.alt | escape
            }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Rewards Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (Mobile)"
    },
    {
      "type": "image_picker",
      "id": "sticker",
      "label": "Sticker"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "text",
      "id": "join_text",
      "label": "Join Text",
      "default": "Join Now"
    },
    {
      "type": "url",
      "id": "join_link",
      "label": "Join Link"
    },
    {
      "type": "text",
      "id": "login_text",
      "label": "Login Text",
      "default": "Login"
    },
    {
      "type": "url",
      "id": "login_link",
      "label": "Login Link"
    }
  ],
  "presets": [
    {
      "name": "Rewards Hero"
    }
  ]
}
{% endschema %}